.illustration-box {
  display: none;
}

.faq-card {
  background-color: var(--white);
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  width: 327px;
  margin: 148px auto 30px;
  padding: 0 24px 48px;
  position: relative;
}

.woman-at-desk-img {
  background: url("../../images/bg-pattern-mobile.svg") no-repeat bottom;
  background-size: 90%;
  padding: 1rem;
  margin-top: -125px;
}

.title {
  margin-top: 30px;
  margin-bottom: 38px;
  text-align: center;
}

.faq-items {
  list-style-type: none;
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  font-size: 13px;
  color: var(--dark-blue);
  text-align: start;
}

.question:hover {
  color: var(--soft-red);
  cursor: pointer;
}

.active-question {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}

.arrow-btn {
  border: none;
  background-color: var(--white);
  cursor: pointer;
  width: 90%;
}

.hide-answer {
  display: none;
}

.show-answer {
  display: block;
  color: var(--dark-grayish-blue);
  font-size: 12px;
  line-height: 18px;
  margin-top: 12px;
  margin-bottom: 16px;
  text-align: start;
}

.rotate-icon-up {
  transform: rotate(180deg);
}

.arrow-icon {
  width: 15px;
  height: 10px;
}

.divider {
  margin: 17px 0;
  height: 1px;
  border: none;
  background-color: var(--light-grayish-blue);
}

@media (min-width: 64em) {
  .illustration-box {
    display: block;
    position: absolute;
    left: -90px;
    top: 150px;
  }

  .card-container {
    width: 350px;
  }

  .faq-card {
    width: 920px;
    display: flex;
    justify-content: space-between;
  }

  .woman-at-desk-img {
    background: url("../../images/bg-pattern-desktop.svg") no-repeat right;
    margin-top: 0;
    margin-left: -80px;
    background-size: auto;
  }

  .title {
    text-align: left;
  }
}
