.illustration-box {
  display: none;
}

.faq-card {
  background-color: var(--white);
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  width: 327px;
  margin: 9.25rem auto 1.875rem;
  padding: 0 1.5rem 3rem;
  position: relative;
}

.woman-at-desk-img {
  background: url("../../images/bg-pattern-mobile.svg") no-repeat bottom;
  background-size: 90%;
  padding: 1rem;
  margin-top: -7.813rem;
}

.title {
  margin-top: 1.875rem;
  margin-bottom: 2.375rem;
  text-align: center;
}

.faq-items {
  list-style-type: none;
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  font-size: 0.813rem;
  color: var(--dark-blue);
  text-align: start;
}

.question:hover {
  color: var(--soft-red);
  cursor: pointer;
}

.active-question {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}

.arrow-btn {
  border: none;
  background-color: var(--white);
  cursor: pointer;
  width: 90%;
}

.hide-answer {
  display: none;
}

.show-answer {
  display: block;
  color: var(--dark-grayish-blue);
  font-size: 0.75rem;
  line-height: 18px;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  text-align: start;
}

.rotate-icon-up {
  transform: rotate(180deg);
}

.arrow-icon {
  width: 0.938rem;
  height: 0.625rem;
}

.divider {
  margin: 1.063rem 0;
  height: 0.063rem;
  border: none;
  background-color: var(--light-grayish-blue);
}

@media (min-width: 64em) {
  .illustration-box {
    display: block;
    position: absolute;
    left: -5.625rem;
    top: 9.375rem;
  }

  .card-container {
    width: 350px;
  }

  .faq-card {
    width: 920px;
    display: flex;
    justify-content: space-between;
  }

  .woman-at-desk-img {
    background: url("../../images/bg-pattern-desktop.svg") no-repeat right;
    margin-top: 0;
    margin-left: -5rem;
    background-size: auto;
  }

  .title {
    text-align: left;
  }
}
